html{
    background-color: antiquewhite;
    color: blue;
}
summary{
    background-color: yellow;
    color: darkred;
}

select:focus option:checked {
    background: red linear-gradient(0deg, red 0%, red 100%);
}

.auswahl{
    width: 100%;
    background-color: antiquewhite;
    color:darkblue;
}
text {
    font-size: 1.5em;
}
